---
import '../styles/global.css';
import '../styles/window.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link rel="icon" href="/kucingfull.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Coding&Algorithms Tournament</title>
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Coding&Algorithms Tournament" />
		<meta property="og:image" content="https://catournament.org/hero-square.png" />
		<meta property="og:url" content="https://catournament.org" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Coding&Algorithms Tournament" />
		<meta name="twitter:image" content="https://catournament.org/hero-square.png" />
	</head>
	<body>
		<slot />
	</body>
</html>
